Repository Memorable-Mamiller93/memorable-2-q8fu62, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @ai-team-leads, @security-team-leads, @backend-team-leads, @frontend-team-leads, @devops-team-leads, @qa-team-leads

.github/CODEOWNERS:

# Ensures every file has at least one owner
* @tech-leads

# AI Service ownership
# Story generation and illustration creation components
src/backend/services/ai/** @ai-team-leads

# Authentication Service ownership
# User management and security components
src/backend/services/auth/** @security-team-leads

# Book Service ownership
# Core book creation and management functionality
src/backend/services/book/** @backend-team-leads

# API Gateway ownership
# Request routing and service orchestration
src/backend/services/gateway/** @backend-team-leads

# Order Service ownership
# Payment and order processing
src/backend/services/order/** @backend-team-leads

# Print Service ownership
# Print job management and coordination
src/backend/services/print/** @backend-team-leads

# Frontend Application ownership
# User interface and interaction components
src/web/** @frontend-team-leads

# Infrastructure code ownership
# Deployment and environment configuration
infrastructure/** @devops-team-leads

# CI/CD workflow ownership
# Build and deployment automation
.github/workflows/** @devops-team-leads

# Backend test files ownership
# Dual ownership for quality assurance
src/backend/services/**/tests/** @qa-team-leads @backend-team-leads

# Frontend test files ownership
# Dual ownership for quality assurance
src/web/tests/** @qa-team-leads @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/package.json
  src/backend/services/auth/package.json
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/tsconfig.json
  src/backend/services/auth/tsconfig.json
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/app.ts
  src/backend/services/auth/src/app.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/config/auth.config.ts
  src/backend/services/auth/src/config/auth.config.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/config/database.config.ts
  src/backend/services/auth/src/config/database.config.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/controllers/auth.controller.ts
  src/backend/services/auth/src/controllers/auth.controller.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/controllers/user.controller.ts
  src/backend/services/auth/src/controllers/user.controller.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/middleware/auth.middleware.ts
  src/backend/services/auth/src/middleware/auth.middleware.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/middleware/validation.middleware.ts
  src/backend/services/auth/src/middleware/validation.middleware.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/models/user.model.ts
  src/backend/services/auth/src/models/user.model.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/routes/auth.routes.ts
  src/backend/services/auth/src/routes/auth.routes.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/services/auth.service.ts
  src/backend/services/auth/src/services/auth.service.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/services/token.service.ts
  src/backend/services/auth/src/services/token.service.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/src/utils/password.utils.ts
  src/backend/services/auth/src/utils/password.utils.ts
Owners: @security-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/tests/auth.test.ts
  src/backend/services/auth/tests/auth.test.ts
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/tests/user.test.ts
  src/backend/services/auth/tests/user.test.ts
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/Dockerfile
  src/backend/services/book/Dockerfile
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/package.json
  src/backend/services/book/package.json
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/tsconfig.json
  src/backend/services/book/tsconfig.json
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/app.ts
  src/backend/services/book/src/app.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/config/database.config.ts
  src/backend/services/book/src/config/database.config.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/config/storage.config.ts
  src/backend/services/book/src/config/storage.config.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/controllers/book.controller.ts
  src/backend/services/book/src/controllers/book.controller.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/controllers/page.controller.ts
  src/backend/services/book/src/controllers/page.controller.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/controllers/theme.controller.ts
  src/backend/services/book/src/controllers/theme.controller.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/middleware/validation.middleware.ts
  src/backend/services/book/src/middleware/validation.middleware.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/models/book.model.ts
  src/backend/services/book/src/models/book.model.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/models/page.model.ts
  src/backend/services/book/src/models/page.model.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/models/theme.model.ts
  src/backend/services/book/src/models/theme.model.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/routes/book.routes.ts
  src/backend/services/book/src/routes/book.routes.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/services/book.service.ts
  src/backend/services/book/src/services/book.service.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/services/page.service.ts
  src/backend/services/book/src/services/page.service.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/src/services/storage.service.ts
  src/backend/services/book/src/services/storage.service.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/tests/book.test.ts
  src/backend/services/book/tests/book.test.ts
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/book/tests/page.test.ts
  src/backend/services/book/tests/page.test.ts
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/gateway/Dockerfile
  src/backend/services/gateway/Dockerfile
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/gateway/package.json
  src/backend/services/gateway/package.json
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/gateway/tsconfig.json
  src/backend/services/gateway/tsconfig.json
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/gateway/src/app.ts
  src/backend/services/gateway/src/app.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/gateway/src/config/gateway.config.ts
  src/backend/services/gateway/src/config/gateway.config.ts
Owners: @backend-team-leads
