Repository Memorable-Mamiller93/memorable-2-q8fu62, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @ai-team-leads, @security-team-leads, @backend-team-leads, @frontend-team-leads, @devops-team-leads, @qa-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/.env.example
  src/backend/.env.example
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/README.md
  src/backend/README.md
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/lerna.json
  src/backend/lerna.json
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/package.json
  src/backend/package.json
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @tech-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/Dockerfile
  src/backend/services/ai/Dockerfile
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/README.md
  src/backend/services/ai/README.md
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/package.json
  src/backend/services/ai/package.json
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/requirements.txt
  src/backend/services/ai/requirements.txt
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/app.py
  src/backend/services/ai/src/app.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/config.py
  src/backend/services/ai/src/config.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/controllers/illustration_controller.py
  src/backend/services/ai/src/controllers/illustration_controller.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/controllers/story_controller.py
  src/backend/services/ai/src/controllers/story_controller.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/models/illustration_request.py
  src/backend/services/ai/src/models/illustration_request.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/models/story_request.py
  src/backend/services/ai/src/models/story_request.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/services/openai_service.py
  src/backend/services/ai/src/services/openai_service.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/services/stable_diffusion_service.py
  src/backend/services/ai/src/services/stable_diffusion_service.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/utils/error_handler.py
  src/backend/services/ai/src/utils/error_handler.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/src/utils/validators.py
  src/backend/services/ai/src/utils/validators.py
Owners: @ai-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/tests/conftest.py
  src/backend/services/ai/tests/conftest.py
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/tests/test_illustration_generation.py
  src/backend/services/ai/tests/test_illustration_generation.py
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/ai/tests/test_story_generation.py
  src/backend/services/ai/tests/test_story_generation.py
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/auth/Dockerfile
  src/backend/services/auth/Dockerfile
Owners: @security-team-leads

.github/CODEOWNERS:

# Ensures every file has at least one owner
* @tech-leads

# AI Service ownership
# Story generation and illustration creation components
src/backend/services/ai/** @ai-team-leads

# Authentication Service ownership
# User management and security components
src/backend/services/auth/** @security-team-leads

# Book Service ownership
# Core book creation and management functionality
src/backend/services/book/** @backend-team-leads

# API Gateway ownership
# Request routing and service orchestration
src/backend/services/gateway/** @backend-team-leads

# Order Service ownership
# Payment and order processing
src/backend/services/order/** @backend-team-leads

# Print Service ownership
# Print job management and coordination
src/backend/services/print/** @backend-team-leads

# Frontend Application ownership
# User interface and interaction components
src/web/** @frontend-team-leads

# Infrastructure code ownership
# Deployment and environment configuration
infrastructure/** @devops-team-leads

# CI/CD workflow ownership
# Build and deployment automation
.github/workflows/** @devops-team-leads

# Backend test files ownership
# Dual ownership for quality assurance
src/backend/services/**/tests/** @qa-team-leads @backend-team-leads

# Frontend test files ownership
# Dual ownership for quality assurance
src/web/tests/** @qa-team-leads @frontend-team-leads
