Repository Memorable-Mamiller93/memorable-2-q8fu62, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @ai-team-leads, @security-team-leads, @backend-team-leads, @frontend-team-leads, @devops-team-leads, @qa-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/print/src/routes/print.routes.ts
  src/backend/services/print/src/routes/print.routes.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/print/src/services/print.service.ts
  src/backend/services/print/src/services/print.service.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/print/src/services/printer.service.ts
  src/backend/services/print/src/services/printer.service.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/print/src/utils/pdf.utils.ts
  src/backend/services/print/src/utils/pdf.utils.ts
Owners: @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/print/tests/print.test.ts
  src/backend/services/print/tests/print.test.ts
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/backend/services/print/tests/printer.test.ts
  src/backend/services/print/tests/printer.test.ts
Owners: @qa-team-leads, @backend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/README.md
  src/web/README.md
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/index.html
  src/web/index.html
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/package.json
  src/web/package.json
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/api/ai.api.ts
  src/web/src/api/ai.api.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/api/book.api.ts
  src/web/src/api/book.api.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/api/order.api.ts
  src/web/src/api/order.api.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/api/print.api.ts
  src/web/src/api/print.api.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/book/BookCard.tsx
  src/web/src/components/book/BookCard.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/book/BookCreator.tsx
  src/web/src/components/book/BookCreator.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/book/BookPreview.tsx
  src/web/src/components/book/BookPreview.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/book/PageEditor.tsx
  src/web/src/components/book/PageEditor.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/book/ThemeSelector.tsx
  src/web/src/components/book/ThemeSelector.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/Dialog.tsx
  src/web/src/components/common/Dialog.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/FileUpload.tsx
  src/web/src/components/common/FileUpload.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-team-leads

Add public-samples/memorable-2-q8fu62/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @frontend-team-leads

.github/CODEOWNERS:

# Ensures every file has at least one owner
* @tech-leads

# AI Service ownership
# Story generation and illustration creation components
src/backend/services/ai/** @ai-team-leads

# Authentication Service ownership
# User management and security components
src/backend/services/auth/** @security-team-leads

# Book Service ownership
# Core book creation and management functionality
src/backend/services/book/** @backend-team-leads

# API Gateway ownership
# Request routing and service orchestration
src/backend/services/gateway/** @backend-team-leads

# Order Service ownership
# Payment and order processing
src/backend/services/order/** @backend-team-leads

# Print Service ownership
# Print job management and coordination
src/backend/services/print/** @backend-team-leads

# Frontend Application ownership
# User interface and interaction components
src/web/** @frontend-team-leads

# Infrastructure code ownership
# Deployment and environment configuration
infrastructure/** @devops-team-leads

# CI/CD workflow ownership
# Build and deployment automation
.github/workflows/** @devops-team-leads

# Backend test files ownership
# Dual ownership for quality assurance
src/backend/services/**/tests/** @qa-team-leads @backend-team-leads

# Frontend test files ownership
# Dual ownership for quality assurance
src/web/tests/** @qa-team-leads @frontend-team-leads
